
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Celebrities</title>
</head>
<body>
  <h1>Celebrities</h1>

<div class="cards">
  {{#each celebrities}}
    <div class="card">
  <li class="list-group-item"><a href="/celeb/{{this._id}}">{{this.name}}</a></li>
    </div>
     {{/each}}
</div>
</body>
</html>

